* {
    margin: 0;
    padding: 0%;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    margin-top: 26px;
    margin-bottom: 26px;
}

.header-navigation ul {
    text-align: center;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.baner {
    height: 789px;
    background-image: url(../img/image\ 1.jpg);
    margin-bottom: 49px;
}

.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 253px;
    margin-bottom: 38px;
}

.title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 68px;
    margin-bottom: 28px;
}

.two-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 68px;
    margin-bottom: 66px;
}

button {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: white;
    background-color: red;
    letter-spacing: 1.8px;
    border: 0px;
    text-align: center;
    margin: auto;
    display: block;
    width: 191px;
    height: 51px;
    margin-bottom: 42px;
    text-transform: uppercase;

}

footer {
    margin-top: 199px;
    margin-bottom: 29px;
    margin-left: 713px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}